<div class="product-list">
    <div class="product-item" *ngFor="let product of productdata" >
      <div class="product-image" (click)="productDetails(product.id)">
        <img [src]="product.image" alt="{{ product.title }}">
      </div>
      <div class="product-details">
        <h3>{{ product.title }}</h3>
        <p class="product-category">{{ product.category }}</p>
        <p class="product-description">{{ product.description }}</p>
        <p class="product-price">$ {{ product.price }}</p>
        <div class="product-rating">
          <p>Rating: {{ product.rating.rate }} ({{ product.rating.count }} reviews)</p>
        </div>
      </div>
    </div>
  </div>
  